DFIG1/linkedTemplates/ArmTemplate_0.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "DFIG1"
		},
		"LS_SQLIG1_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'LS_SQLIG1'"
		},
		"LS_SqlIG2_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'LS_SqlIG2'"
		},
		"LS_AzureSqlTarget_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'LS_AzureSqlTarget'",
			"defaultValue": "Integrated Security=False;Encrypt=True;Connection Timeout=30;Data Source=@{linkedService().servername};Initial Catalog=@{linkedService().dbname};User ID=ilhan"
		},
		"LS_FileSystem_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'LS_FileSystem'"
		},
		"AzureKeyVault1_properties_typeProperties_baseUrl": {
			"type": "string",
			"defaultValue": "https://igkeyvailt1.vault.azure.net/"
		},
		"LS_CSV_IG1_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://storageaccountig1.dfs.core.windows.net/"
		},
		"LS_csv_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://storageaccountig1.dfs.core.windows.net/"
		},
		"LS_FileSystem_properties_typeProperties_host": {
			"type": "string",
			"defaultValue": "C:\\1Azure\\AzureMaterials"
		},
		"LS_FileSystem_properties_typeProperties_userId": {
			"type": "string",
			"defaultValue": "hamsi"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/AzureKeyVault1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureKeyVault",
				"typeProperties": {
					"baseUrl": "[parameters('AzureKeyVault1_properties_typeProperties_baseUrl')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_CSV_IG1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('LS_CSV_IG1_properties_typeProperties_url')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_SQLIG1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"connectionString": "[parameters('LS_SQLIG1_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_SqlIG2')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"connectionString": "[parameters('LS_SqlIG2_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_csv')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('LS_csv_properties_typeProperties_url')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SelfHostedIG1')]",
			"type": "Microsoft.DataFactory/factories/integrationRuntimes",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "SelfHosted",
				"description": "Self Hosted Integration Run time",
				"typeProperties": {}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/integrationRuntimeSelfHosted2')]",
			"type": "Microsoft.DataFactory/factories/integrationRuntimes",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "SelfHosted",
				"typeProperties": {}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DSSqlIG2')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_SqlIG2",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"schemaname": {
						"type": "string"
					},
					"tablename": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": {
						"value": "@dataset().schemaname",
						"type": "Expression"
					},
					"table": {
						"value": "@dataset().tablename",
						"type": "Expression"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_SqlIG2')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_CSV_IG1')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_CSV_IG1",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"container": {
						"type": "string"
					},
					"folderpath": {
						"type": "string"
					},
					"filename": {
						"type": "string"
					}
				},
				"folder": {
					"name": "DSIlhan"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@dataset().filename",
							"type": "Expression"
						},
						"folderPath": {
							"value": "@dataset().folderpath",
							"type": "Expression"
						},
						"fileSystem": {
							"value": "@dataset().container",
							"type": "Expression"
						}
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_CSV_IG1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_SQLIG1')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_SQLIG1",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "DSIlhan"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo",
					"table": "customer"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_SQLIG1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_csv')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_csv",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"container": {
						"type": "string"
					},
					"folderpath": {
						"type": "string"
					},
					"filename": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@dataset().filename",
							"type": "Expression"
						},
						"folderPath": {
							"value": "@dataset().folderpath",
							"type": "Expression"
						},
						"fileSystem": {
							"value": "@dataset().container",
							"type": "Expression"
						}
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_csv')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_AzureSqlTarget')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"parameters": {
					"servername": {
						"type": "string",
						"defaultValue": "ilhan.database.windows.net"
					},
					"dbname": {
						"type": "string",
						"defaultValue": "ilhan"
					}
				},
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"connectionString": "[parameters('LS_AzureSqlTarget_connectionString')]",
					"password": {
						"type": "AzureKeyVaultSecret",
						"store": {
							"referenceName": "AzureKeyVault1",
							"type": "LinkedServiceReference"
						},
						"secretName": "SQLPassIlhanP"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureKeyVault1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_FileSystem')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "FileServer",
				"typeProperties": {
					"host": "[parameters('LS_FileSystem_properties_typeProperties_host')]",
					"userId": "[parameters('LS_FileSystem_properties_typeProperties_userId')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('LS_FileSystem_password')]"
					}
				},
				"connectVia": {
					"referenceName": "SelfHostedIG1",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/SelfHostedIG1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SqlApi')]",
			"type": "Microsoft.DataFactory/factories/credentials",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "ServicePrincipal",
				"typeProperties": {
					"tenant": "54f2780b-4ab3-40c4-87f4-1a5ad22345e8",
					"servicePrincipalId": "6c61c7ab-00a0-49c9-8fa0-1a943260def9",
					"servicePrincipalKey": {
						"type": "AzureKeyVaultSecret",
						"store": {
							"referenceName": "AzureKeyVault1",
							"type": "LinkedServiceReference"
						},
						"secretName": "SqlApi"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureKeyVault1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/IG1')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy data1",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false,
								"tableOption": "autoCreate",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "DS_CSV_IG1",
								"type": "DatasetReference",
								"parameters": {
									"container": {
										"value": "@pipeline().parameters.PPcontainer",
										"type": "Expression"
									},
									"folderpath": {
										"value": "@pipeline().parameters.PPfolderpath",
										"type": "Expression"
									},
									"filename": {
										"value": "@pipeline().parameters.PPfilename",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "DS_SQLIG1",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"PPcontainer": {
						"type": "string",
						"defaultValue": "input"
					},
					"PPfolderpath": {
						"type": "string",
						"defaultValue": "customer"
					},
					"PPfilename": {
						"type": "string",
						"defaultValue": "customer.csv"
					}
				},
				"folder": {
					"name": "Ilhan"
				},
				"annotations": [],
				"lastPublishTime": "2023-12-11T14:59:37Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DS_CSV_IG1')]",
				"[concat(variables('factoryId'), '/datasets/DS_SQLIG1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/IG2_Wildcard')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Lookup1",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "select 1 as id",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "DSSqlIG2",
								"type": "DatasetReference",
								"parameters": {
									"schemaname": "xx",
									"tablename": "yy"
								}
							}
						}
					},
					{
						"name": "If Condition1",
						"type": "IfCondition",
						"dependsOn": [
							{
								"activity": "Lookup1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@greater(pipeline().parameters.id,activity('Lookup1').output.firstRow.id)",
								"type": "Expression"
							},
							"ifTrueActivities": [
								{
									"name": "Copy data1",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "DelimitedTextSource",
											"storeSettings": {
												"type": "AzureBlobFSReadSettings",
												"recursive": false,
												"wildcardFolderPath": "customer",
												"wildcardFileName": "*.txt",
												"enablePartitionDiscovery": false
											},
											"formatSettings": {
												"type": "DelimitedTextReadSettings"
											}
										},
										"sink": {
											"type": "AzureSqlSink",
											"writeBehavior": "insert",
											"sqlWriterUseTableLock": false
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"mappings": [
												{
													"source": {
														"name": "id",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "id",
														"type": "Int32",
														"physicalType": "int"
													}
												},
												{
													"source": {
														"name": "name",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "name",
														"type": "String",
														"physicalType": "varchar"
													}
												}
											],
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "DS_CSV_IG1",
											"type": "DatasetReference",
											"parameters": {
												"container": "input",
												"folderpath": "customer",
												"filename": "xx"
											}
										}
									],
									"outputs": [
										{
											"referenceName": "DSSqlIG2",
											"type": "DatasetReference",
											"parameters": {
												"schemaname": "dbo",
												"tablename": "igtwo"
											}
										}
									]
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"id": {
						"type": "int"
					}
				},
				"folder": {
					"name": "Ilhan"
				},
				"annotations": [],
				"lastPublishTime": "2023-12-11T22:52:03Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DSSqlIG2')]",
				"[concat(variables('factoryId'), '/datasets/DS_CSV_IG1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_SQL_Target')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_AzureSqlTarget",
					"type": "LinkedServiceReference",
					"parameters": {
						"servername": {
							"value": "@dataset().servername",
							"type": "Expression"
						},
						"dbname": {
							"value": "@dataset().dbname",
							"type": "Expression"
						}
					}
				},
				"parameters": {
					"schemaname": {
						"type": "string"
					},
					"tablename": {
						"type": "string"
					},
					"servername": {
						"type": "string"
					},
					"dbname": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": {
						"value": "@dataset().schemaname",
						"type": "Expression"
					},
					"table": {
						"value": "@dataset().tablename",
						"type": "Expression"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_AzureSqlTarget')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/API')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Web1",
						"type": "WebActivity",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": "https://management.azure.com/subscriptions/a4d974a9-8246-464b-b0b1-04f2fbbc10ce/resourceGroups/RGIlhan1/providers/Microsoft.Sql/servers/ilhan.database.windows.net/databases/ilhan/pause?api-version=2021-11-01",
							"method": "POST",
							"headers": {
								"Content-Type": "application/json"
							},
							"body": {},
							"authentication": {
								"resource": "https://management.azure.com",
								"credential": {
									"referenceName": "SqlApi",
									"type": "CredentialReference"
								},
								"userTenant": "54f2780b-4ab3-40c4-87f4-1a5ad22345e8",
								"username": "01148848-4f7a-455c-af82-7919ca45616e",
								"password": {
									"type": "AzureKeyVaultSecret",
									"store": {
										"referenceName": "AzureKeyVault1",
										"type": "LinkedServiceReference"
									},
									"secretName": "SqlApi"
								}
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "Deepak"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/credentials/SqlApi')]",
				"[concat(variables('factoryId'), '/linkedServices/AzureKeyVault1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipeline1')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "CopyfromCSVtoSQL4",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false,
								"tableOption": "autoCreate",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "DS_csv",
								"type": "DatasetReference",
								"parameters": {
									"container": {
										"value": "@pipeline().parameters.containerpp",
										"type": "Expression"
									},
									"folderpath": {
										"value": "@pipeline().parameters.filepathpp",
										"type": "Expression"
									},
									"filename": {
										"value": "@pipeline().parameters.filenamepp",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "DS_SQL_Target",
								"type": "DatasetReference",
								"parameters": {
									"schemaname": "dbo",
									"tablename": "customer",
									"servername": {
										"value": "@pipeline().parameters.servername",
										"type": "Expression"
									},
									"dbname": {
										"value": "@pipeline().parameters.dbname",
										"type": "Expression"
									}
								}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"containerpp": {
						"type": "string",
						"defaultValue": "input"
					},
					"filepathpp": {
						"type": "string",
						"defaultValue": "customer"
					},
					"filenamepp": {
						"type": "string",
						"defaultValue": "customer.csv"
					},
					"servername": {
						"type": "string",
						"defaultValue": "ilhan.database.windows.net"
					},
					"dbname": {
						"type": "string",
						"defaultValue": "ilhan"
					}
				},
				"folder": {
					"name": "Deepak"
				},
				"annotations": [],
				"lastPublishTime": "2023-12-12T12:23:50Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DS_csv')]",
				"[concat(variables('factoryId'), '/datasets/DS_SQL_Target')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipeline2')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Lookup1",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "select 1 as id",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "DS_SQL_Target",
								"type": "DatasetReference",
								"parameters": {
									"schemaname": "x",
									"tablename": "y",
									"servername": {
										"value": "@pipeline().parameters.servername",
										"type": "Expression"
									},
									"dbname": {
										"value": "@pipeline().parameters.dbname",
										"type": "Expression"
									}
								}
							}
						}
					},
					{
						"name": "If Condition1",
						"type": "IfCondition",
						"dependsOn": [
							{
								"activity": "Lookup1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@greater(pipeline().parameters.id,activity('Lookup1').output.firstRow.id)",
								"type": "Expression"
							},
							"ifTrueActivities": [
								{
									"name": "Copy data1",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "DelimitedTextSource",
											"storeSettings": {
												"type": "AzureBlobFSReadSettings",
												"recursive": false,
												"wildcardFolderPath": "customer",
												"wildcardFileName": "*.txt",
												"enablePartitionDiscovery": false
											},
											"formatSettings": {
												"type": "DelimitedTextReadSettings"
											}
										},
										"sink": {
											"type": "AzureSqlSink",
											"writeBehavior": "insert",
											"sqlWriterUseTableLock": false
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"mappings": [
												{
													"source": {
														"name": "id",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "ID",
														"type": "Int32",
														"physicalType": "int"
													}
												},
												{
													"source": {
														"name": "name",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "name",
														"type": "String",
														"physicalType": "varchar"
													}
												}
											],
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "DS_csv",
											"type": "DatasetReference",
											"parameters": {
												"container": "input",
												"folderpath": "customer",
												"filename": "xx"
											}
										}
									],
									"outputs": [
										{
											"referenceName": "DS_SQL_Target",
											"type": "DatasetReference",
											"parameters": {
												"schemaname": "dbo",
												"tablename": "cust",
												"servername": {
													"value": "@pipeline().parameters.servername",
													"type": "Expression"
												},
												"dbname": {
													"value": "@pipeline().parameters.dbname",
													"type": "Expression"
												}
											}
										}
									]
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"id": {
						"type": "int"
					},
					"servername": {
						"type": "string"
					},
					"dbname": {
						"type": "string"
					}
				},
				"folder": {
					"name": "Deepak"
				},
				"annotations": [],
				"lastPublishTime": "2023-12-08T12:26:50Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DS_SQL_Target')]",
				"[concat(variables('factoryId'), '/datasets/DS_csv')]"
			]
		}
	]
}